<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | Anime</title>
    <link rel="stylesheet" href=".//CSS/styleanime7.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="./kdramapage">KDRAMA</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">FILIPINO</a></h2>
        <h2><a href="#">KIDS</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>MY HERO ACADEMIA: WORLD HEROES' MISSION</h1>
    <div class="pic">
        <img src="/PICTURES/Anime/7My Hero Academia.jpg" alt="MY HERO ACADEMIA: WORLD HEROES' MISSION ANIME">

        <p class="summary">
            Japan's greatest heroes must track down the mastermind behind a deadly chemical attack.
        </p>
    </div>
    <div class="about">
        <p>
            <strong>Cast:</strong> Daiki Yamashita, Nobuhiko Okamoto, Yuuki Kaji, Tetsu Inada
        </p>
        <p>
            <strong>Genre:</strong> Adventure, Anime, Action
        </p>
        <p>
            <strong>Runtime:</strong> 1h 44m
        </p>
        <p>
            <strong>Released Date:</strong> October 29, 2021
        </p>
        <p>
            <strong>Maturity Rating:</strong> 13+
        </p>
    </div>
    <br>
    <br>
    <br>
</body>

</html>