<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | Anime</title>
    <link rel="stylesheet" href=".//CSS/styleanime10.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="./kdramapage">KDRAMA</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">FILIPINO</a></h2>
        <h2><a href="#">KIDS</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>EARWIG AND THE WITCH</h1>
    <div class="pic">
        <img src="/PICTURES/Anime/10Earwig and the witch.jpg" alt="EARWIG AND THE WITCH ANIME">

        <p class="summary">
           Growing up in an orphanage in the British countryside, Earwig has no idea that her mother had magical powers. Her life changes dramatically when a strange couple takes her in, and she is forced to live with a selfish witch. As the headstrong young girl sets out to uncover the secrets of her new guardians, she discovers a world of spells and potions, and a mysterious song that may be the key to finding the family she has always wanted.
        </p>
    </div>
    <div class="about">
        <p>
            <strong>Cast:</strong> Richard E. Grant, Kacey Musgraves, Dan Stevens, Taylor Paige Henderson
        </p>
        <p>
            <strong>Genre:</strong> Anime, Kids & Family, Comedy, Animation, Adventure, Fantasy
        </p>
        <p>
            <strong>Runtime:</strong> 1h 23m
        </p>
        <p>
            <strong>Released Date:</strong> March 23, 2021
        </p>
        <p>
            <strong>Maturity Rating:</strong> 13+
        </p>
    </div>
    <br>
    <br>
    <br>
</body>

</html>