<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | Anime</title>
    <link rel="stylesheet" href=".//CSS/styleanime5.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="./kdramapage">KDRAMA</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">FILIPINO</a></h2>
        <h2><a href="#">KIDS</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>WORDS BUBBLE UP LIKE SODA POP</h1>
    <div class="pic">
        <img src="/PICTURES/Anime/5Words Bubble.jpg" alt="WORDS BUBBLE UP LIKE SODA POP ANIME">

        <p class="summary">
            After meeting one bright, sunny day, a shy boy who expresses himself through haiku and a bubbly but self-conscious girl
            share a brief, magical summer.
        </p>
    </div>
    <div class="about">
        <p>
            <strong>Cast:</strong> Somegoro Ichikawa, Hana Sugisaki, Megumi Han, Natsuki Hanae
        </p>
        <p>
            <strong>Genre:</strong> Anime, Romance
        </p>
        <p>
            <strong>Runtime:</strong> 1h 27m
        </p>
        <p>
            <strong>Released Date:</strong> July 22, 2021
        </p>
        <p>
            <strong>Maturity Rating:</strong> 13+ (mild violence)
        </p>
    </div>
    <br>
    <br>
    <br>
</body>

</html>