<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | KDrama</title>
    <link rel="stylesheet" href=".//CSS/stylekdramapage.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="about">
        <h2> <a href="./">HOME</a></h2> 
        <h2> <a href="#">ABOUT US</a></h2>
    </div>

    <hr>
    <h1>KDRAMA</h1>
    <div class="posters">
        <a href="./kdrama10"> <img src=".//PICTURES/kdrama/Squid Game_poster1.jpg" alt="Squid Game Poster"> </a>
        <a href="./kdrama9"><img src=".//PICTURES/kdrama/Deserter Pursuit_poster2.jpg" alt="Deserter Pursuit Poster"></a>
        <a href="./kdrama8"><img src=".//PICTURES/kdrama/Hellbound_poster3.jpg" alt="Hellbound Poster"></a>
        <a href="./kdrama7"><img src=".//PICTURES/kdrama/Move to Heaven_poster4.jpg" alt="Move to Heaven Poster"></a>
        <a href="./kdrama6"><img src=".//PICTURES/kdrama/Vincenzo_poster5.jpg" alt="Vincenzo Poster"></a>
        <a href="./kdrama5"><img src=".//PICTURES/kdrama/Mine_poster6.jpeg" alt="Mine Poster"></a>
        <a href="./kdrama4"><img src=".//PICTURES/kdrama/Happiness_poster7.jpg" alt="Happiness Poster"></a>
        <a href="./kdrama3"><img src=".//PICTURES/kdrama/My Name_poster8.jpg" alt="My Name Poster"></a>
        <a href="./kdrama2"><img src=".//PICTURES/kdrama/Taxi Driver_poster9.jpg" alt="Taxi Driver Poster"></a>
        <a href="./kdrama"><img src=".//PICTURES/kdrama/jirisan_poster10.jpg" alt="Jirisan Poster"></a>
    </div>

    <br>
    <br>
    <br>
</body>
</html>