<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | KDrama</title>
    <link rel="stylesheet" href=".//CSS/stylekdrama2.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="#">ANIME</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">FILIPINO</a></h2>
        <h2><a href="#">KIDS</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>TAXI DRIVER</h1>
    <div class="pic">
        <img src="/PICTURES/kdrama/Taxi Driver9.jpg" alt="Taxi Driver Kdrama">

        <p class="summary">
            An illegal taxi company called Rainbow Deluxe Taxi helps people get revenge, meting out punishments when the law fails
            to do so.
            Kim Do-ki, who is part of the team, works undercover as a “taxi driver”. Meanwhile, Kang Ha-na is the prosecutor
            investigating Rainbow Deluxe Taxi. However, she is conflicted because the company is helping victims, even though it's
            through shady means.
        </p>
    </div>
    <div class="about">
        <p>
            <strong>Cast:</strong> Lee Je-Hoon, Esom
        </p>
        <p>
            <strong>Genre:</strong> Action, Crime Film, Mystery, Drama
        </p>
        <p>
            <strong>Total Episode:</strong> 16
        </p>
        <p>
            <strong>Released Date:</strong> April 9, 2021-May 29, 2021
        </p>
        <p>
            <strong>Maturity Rating:</strong> 18+ Restricted (violence & profanity)
        </p>
    </div>
    <br>
    <br>
    <br>
</body>

</html>