<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | KDrama</title>
    <link rel="stylesheet" href=".//CSS/stylekdrama3.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="#">ANIME</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">FILIPINO</a></h2>
        <h2><a href="#">KIDS</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>MY NAME</h1>
    <div class="pic">
        <img src="/PICTURES/kdrama/My Name8.jpg" alt="My Name Kdrama">

        <p class="summary">
            My Name is a Netflix series portraying Yoon Ji Woo's revenge toward her father's murderer. Following her father's death,
            she works for powerful crime gang led by Choi Moo Jin. He helps to reveal the murder of Ji Woo's father. Meanwhile, Ji
            Woo joins police department under Moo Jin's instruction. Later, she works for drug investigation unit of police
            department with her partner Detective Jeon Pil Do.
        </p>
    </div>
    <div class="about">
        <p>
            <strong>Cast:</strong> Han So-Hee, Park Hee-Soon, Ahn Bo-Hyun, Lee Hak-Joo, Kim Sang-Ho, Chang Ryul, Yoon Kyung-Ho
        </p>
        <p>
            <strong>Genre:</strong> Action, Thriller, Crime, Noir
        </p>
        <p>
            <strong>Total Episode:</strong> 8
        </p>
        <p>
            <strong>Released Date:</strong> October 15, 2021
        </p>
        <p>
            <strong>Maturity Rating:</strong> +16
        </p>
    </div>
    <br>
    <br>
    <br>
</body>

</html>