ejs<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | KDrama</title>
    <link rel="stylesheet" href=".//CSS/stylekdrama.css">
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix" >
    
    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="#">ANIME</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">FILIPINO</a></h2>
        <h2><a href="#">KIDS</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>
    
    <h1>JIRISAN</h1>
    <div class="pic">
    <img src="./PICTURES/kdrama/jirisan10.jpg" alt="Jirisan Kdrama">

    <p class="summary">
        Set against the backdrop of towering views of Mount Jiri, it depicts the story of rangers and other employees of the Jirisan National Park who climb through the mysterious and unexplored regions of the mountain, trying to rescue the survivors and lost trekkers. The drama is centered around a mystery surrounding the mountain's many visitors; those who come to kill, and those who come to end their lives.
    </p>
    </div>
    <div class="about">
    <p>
        <strong>Cast:</strong> Jun Ji-hyun, Kim Do-yeon, Kang Ji-woo, Ju Ji-hoon
    </p>
    <p>
        <strong>Genre:</strong> Thriller, Drama, Mystery, Fantasy
    </p>
    <p>
        <strong>Total Episode:</strong> 16
    </p>
    <p>
        <strong>Released Date:</strong> October 23-December 12, 2021
    </p>
    <p>
        <strong>Maturity Rating:</strong> 16+
    </p>
    </div>
    <br>
    <br>
    <br>
</body>
</html>