<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | Kids</title>
    <link rel="stylesheet" href=".//CSS/stylekids5.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="./kdramapage">KDRAMA</a></h2>
        <h2><a href="#">ANIME</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">FILIPINO</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>LUCA</h1>
    <div class="pic">
        <img src="/PICTURES/Kids/5Luca.jpg" alt="LUCA KIDS">

        <p class="summary">
            Set in a beautiful seaside town on the Italian Riviera, Disney and Pixar's original feature film "Luca" is a
            coming-of-age story about one young boy experiencing an unforgettable summer filled with gelato, pasta and endless
            scooter rides. Luca (voice of Jacob Tremblay) shares these adventures with his newfound best friend, Alberto (voice of
            Jack Dylan Grazer), but all the fun is threatened by a deeply-held secret: they are sea monsters from another world just
            below the water's surface.
    </div>
    <div class="about">
        <p>
            <strong>Cast:</strong> Jacob Tremblay, Jack Dylan Grazer, Emma Berman, Maya Rudolph
        </p>
        <p>
            <strong>Genre:</strong> Kids & Family, Comedy, Fantasy, Animation
        </p>
        <p>
            <strong>Runtime:</strong> 1h 40m
        </p>
        <p>
            <strong>Released Date:</strong> June 18, 2021
        </p>
        <p>
            <strong>Maturity Rating:</strong> 13+ (Language, Brief Violence, Rude Humor,Some Thematic Elements)
        </p>
    </div>
    <br>
    <br>
    <br>
</body>

</html>