<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | Kids</title>
    <link rel="stylesheet" href=".//CSS/stylekids4.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="./kdramapage">KDRAMA</a></h2>
        <h2><a href="#">ANIME</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">FILIPINO</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>SING 2</h1>
    <div class="pic">
        <img src="/PICTURES/Kids/4sing.jpg" alt="SING 2 KIDS">

        <p class="summary">
            This holiday season, the new chapter in Illumination's smash animated franchise arrives with big dreams and spectacular
            hit songs as the ever-optimistic koala, Buster Moon, and his all-star cast of performers prepare to launch their most
            dazzling stage extravaganza yet... all in the glittering entertainment capital of the world. There's just one hitch:
            They first have to persuade the world's most reclusive rock star--played by global music icon Bono, in his animated film
            debut--to join them.
    </div>
    <div class="about">
        <p>
            <strong>Cast:</strong> Matthew McConaughey, Reese Witherspoon, Scarlett Johansson
        </p>
        <p>
            <strong>Genre:</strong> Comedy, Musical, Kids & Family, Animation
        </p>
        <p>
            <strong>Runtime:</strong> 1h 50m
        </p>
        <p>
            <strong>Released Date:</strong> December 22, 2021
        </p>
        <p>
            <strong>Maturity Rating:</strong> 13+ (some rude material, mild peril/violence)
        </p>
    </div>
    <br>
    <br>
    <br>
</body>

</html>