<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | Filipino</title>
    <link rel="stylesheet" href=".//CSS/stylepinoy.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="./kdramapage">KDRAMA</a></h2>
        <h2><a href="#">ANIME</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">KIDS</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>HIMALA</h1>
    <div class="pic">
        <img src="/PICTURES/Pinoy/1himala.jpg" alt="HIMALA FILIPINO">

        <p class="summary">
            Coinciding with a total eclipse when people believe that the world is ending, Elsa witnesses an apparition of the Virgin
            Mary on top of the hill where as an infant she was found and adopted by Saling.

        <div class="about">
            <p>
                <strong>Cast:</strong> Nora Aunor
            </p>
            <p>
                <strong>Genre:</strong> Drama
            </p>
            <p>
                <strong>Runtime:</strong> 2hrs 4min
            </p>
            <p>
                <strong>Released Date:</strong> December 25, 1982
            </p>
            <p>
                <strong>Maturity Rating:</strong> 18+ (Sex & Nudity, Profanity, Alcohol, Drugs & Smoking, Frightening & Intense Scenes)
            </p>
        </div>
        <br>
        <br>
        <br>
</body>

</html>