<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamFlix | Filipino</title>
    <link rel="stylesheet" href=".//CSS/stylepinoy2.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Kanit:ital,wght@0,400;1,800&family=Pontano+Sans&family=Work+Sans:wght@900&display=swap"
        rel="stylesheet">
</head>

<body>
    <img src="./PICTURES/Logo.png" alt="DreamFlix">

    <div class="links">
        <h2><a href="./index">HOME</a></h2>
        <h2><a href="./kdramapage">KDRAMA</a></h2>
        <h2><a href="#">ANIME</a></h2>
        <h2><a href="#">HORROR</a></h2>
        <h2><a href="#">KIDS</a></h2>
        <h2><a href="#">ABOUT</a></h2>
    </div>

    <h1>THE HOWS OF US</h1>
    <div class="pic">
        <img src="/PICTURES/Pinoy/2thehowsofus.jpg" alt="THE HOWS OF US FILIPINO">

        <p class="summary">
            The film is a story about the young couple Primo (Padilla) and George (Bernardo), who dreams of growing old together.
            However, as their feelings go deep for each other, they have to deal the struggles of being in a long-term relationship
            and the harsh reality of life.

        <div class="about">
            <p>
                <strong>Cast:</strong> Kathryn Bernardo, Daniel Padilla
            </p>
            <p>
                <strong>Genre:</strong> Comedy, Drama, Romance
            </p>
            <p>
                <strong>Runtime:</strong> 2hrs 
            </p>
            <p>
                <strong>Released Date:</strong> August 29, 2018
            </p>
            <p>
                <strong>Maturity Rating:</strong> 13+
            </p>
        </div>
        <br>
        <br>
        <br>
</body>

</html>